{% extends 'layout.html' %}

{% block title %} Entry No. {{ object.id }} {% endblock %}

{% block navbar %}
  <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper teal">
      <a href="#" class="brand-logo center">Entry No. {{ object.id }}</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="{% url 'entries_list_view' %}">Home</a></li>
      </ul>      
    </div>
    </nav>
  </div> 
{% endblock %}

{% block content %}

<div class="row">
  <h4> Single Entry Details </h4>
  <div class="col s12 m4 l8">
    <ul class="collection">
      <li class="collection-item">Entry Number: <b>{{ object.id }}</b> </li>
      <li class="collection-item">Timestamp: <b>{{ object.timestamp }}</b></li>
      <li class="collection-item">Temperature: <b>{{ object.temperature }}</b></li>
      <li class="collection-item">Duration: <b>{{ object.duration }}</b></li>
    </ul>
  </div>
</div>


<div class="row">
  <a class="waves-effect waves-light btn" href="{% url 'entries_list_view' %}"><i class="material-icons left">keyboard_backspace</i>Back</a>
</div>

{% endblock %}
